#     __ _____ _____ _____ _____ 
#  __┊  ┊     ┊     ┊   __|   __┊ 
# ┊  ┊  ┊  ▔  ┊ ┊ ┊ ┊   __┊__   ┊
# ┊_____┊__┊__┊_┊_┊_┊_____┊_____┊ 
# ┊   __╱     ┊  _  ]   __|  __ ╲ 
# ┊  ┊  ┊  ┋  ┊  _  ╲   __|     ╱
# |_____|_____|_____╱_____|__╲__╲ 
# =====================================================================
#  JAMES ⬡ GOBER | 
# =====================================================================
# Default owner of all other files
* @jamesgober































# ¸_____¸_____¸
#  ╲__¸ ┊ ¸__╱
# ¸_  ┊ ┊ ┊ ___
# ┊ [_┊ ┊ ┊_] ┊
# ┊_____Λ_____┊ 
# 
